.parent{
  display: flex;
  justify-content: center;
}

.myNavbar{
  padding: 50px;
  justify-content: space-between;
  margin-bottom: 40px;

  img{
    width: 70px;
  }

}

.brand{
  font-weight: bold;
  font-size: 30px;
}

.spacer {
  margin-left: 1.5rem;
}
