/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
  background-color: #FFFFFF;
}

.dialogClass .mat-dialog-container {
  border-radius: 20px;
  background-color: #F4F4F5;
}

